/* Global colors */
$linkColor: rgb(39, 89, 122);
$linkColorVisited: rgb(53, 106, 141);
$linkColorHover: rgb(138, 153, 53);

$authFormHeight: 400px;
$authFormWidth: 350px;

$orangeColor: orange;
$errorTextColor: rgb(168, 43, 43);
$successTextColor: rgb(100, 148, 38);
$inputBgrColor: rgb(165, 177, 179);

/* Global umbrella layout */
$map-width: 800px;
$map-height: 800px;
$info-width: 500px;
$info-height: 800px;

