//@import '@/assets/globalVariables.scss';
@use './globalVariables.scss' as globals;
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:lightgrey;
    background-image: url("bgr.jpg");
    background-repeat: repeat;
}
a, .link {
    color: globals.$linkColor;
}
a:hover, .link:hover {
    color: globals.$linkColorHover;
}

input[type=text], input[type=email], input[type=number], button{
    padding:5px;
    border-radius: 4px;
    font-size:16px;
    background-color: globals.$inputBgrColor;
}
button{
    font-size:14px;
    min-width: 70px;
    background-color: globals.$orangeColor;
    color:black;
}

.auth_login_container {
    display:flex;
    height: 100vh;

    align-content: center;
    align-items: center;
    justify-content: space-around;

    flex-flow: row nowrap;
}
.main_container {
    display:flex;
    height: 100vh;
    justify-content: flex-start;

    flex-flow: row nowrap;
}
.error_text{
    color: globals.$errorTextColor
}
.success_text{
    color: globals.$successTextColor
}

.info_actionButton{
    color: globals.$linkColor;
    cursor: pointer;
    padding:5px;
}
.info_actionButton:hover{
    color: globals.$linkColorHover
}