.fenceIron,
.sideStreet,
.houseDump,
.houseResidental,
.trees{
    position: relative;
}

.fenceIron:after,
.sideStreet:after,
.houseDump:after,
.houseResidental:after,
.trees:after {
    position: absolute;
    top: 0;
    /*
    transform: rotate(90deg);
    */
    z-index: -1;
    color: red;
    font-size: 45px;
    left:5px;
    //top:0px;

    text-align: center;
    vertical-align: middle;
    opacity: 1;
}

.fenceIron:after {
    content: "\25A9";//&#x25A6; //x25A6
    color: rgb(116, 116, 116);
}
.sideStreet:after {
    content: "\2225";//1D11B   //2551
    color:rgb(54, 48, 45);
}
.houseDump:after {
    content: "\1F5D1";
}
.houseResidental:after {
    content: "\1F3E2";
}
.trees:after {
    content: "\1F333";
}